<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Slider Vue</title>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="root">
		<div v-if="arrSlides === null">Dati in scaricamento</div>
		<div v-else @mouseover="stopSlider" @mouseout="startSlider" class="slider">
			<div class="slide">
				<img :src="'img/' + arrSlides[activeIndex].img" :alt="arrSlides[activeIndex].title">
				<div class="slide-contents">
					<h2 class="slide-title">{{ arrSlides[activeIndex].title }}</h2>
					<p class="slide-text">{{ arrSlides[activeIndex].text }}</p>
				</div>
			</div>

			<div class="thumbs">
				<div v-for="(thumb, index) in arrSlides" @click="setActiveIndex(index)" class="thumb" :class="index == activeIndex ? 'active' : ''">
					<img :src="'img/' + thumb.img" :alt="thumb.title">
				</div>
				<button @click="previus" class="btn-control btn-previus">&and;</button>
				<button @click="next" class="btn-control btn-next">&or;</button>
			</div>
		</div>
		<div class="circles">
			<div v-for="(thumb, index) in arrSlides" @click="setActiveIndex(index)" class="circle" :class="{active: index == activeIndex}"></div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="js/script.js"></script>
</body>
</html>
